
# editor/IDE settings
*.vscode

# output, test, data and properties files
/data
*.properties

# build files and other files
/target
.ant_targets
**/.DS_Store
*.class
*.jar
*.csv
*.pdf

# dotenv files
.env*

# others
TODO.txt


# not ignore specific files
!/envs/.env.development.local
!/configs
